In [ ]:
pip install theano

In [ ]:
pip install tensorflow

In [ ]:
pip install keras

In [15]:
import tensorflow as tf
hello = tf.constant('Hello, Tensorflow')
print((hello))

tf.Tensor(b'Hello, Tensorflow', shape=(), dtype=string)

In [24]:
#!/usr/bin/env python3
from cgi import test
import imp
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#veriler alindi
veriler = pd.read_csv("Churn_Modelling.csv")
print(veriler)

X = veriler.iloc[:,3:13].values
Y = veriler.iloc[:,13].values
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
X[:,1] = le.fit_transform(X[:,1])
le2 = preprocessing.LabelEncoder()
X[:,2] = le2.fit_transform(X[:,2])

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
#aynı ANDA dönüştürme , farklı kolon yapılarını birleştri ve dönüştür
ohe = ColumnTransformer([("ohe", OneHotEncoder(dtype=float),[1])],
                        remainder="passthrough"
)
X = ohe.fit_transform(X)
X = X[:,1:]


#eksik verileri doldur
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy="mean")


#donusum
from sklearn import preprocessing

from sklearn.model_selection import train_test_split #belli bir yere kadar deneme belli bir yerden sonra test olacak
#x bağımsız, y bapımlı değişken

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=0)

#farkli dünyadaki veriler aynı dünyaya ekle
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)
print(x_train)
print(x_test)

      RowNumber  CustomerId    Surname  CreditScore Geography  Gender  Age  \
0             1    15634602   Hargrave          619    France  Female   42
1             2    15647311       Hill          608     Spain  Female   41
2             3    15619304       Onio          502    France  Female   42
3             4    15701354       Boni          699    France  Female   39
4             5    15737888   Mitchell          850     Spain  Female   43
...         ...         ...        ...          ...       ...     ...  ...
9995       9996    15606229   Obijiaku          771    France    Male   39
9996       9997    15569892  Johnstone          516    France    Male   35
9997       9998    15584532        Liu          709    France  Female   36
9998       9999    15682355  Sabbatini          772   Germany    Male   42
9999      10000    15628319     Walker          792    France  Female   28

      Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0          2       0.00              1          1               1
1          1   83807.86              1          0               1
2          8  159660.80              3          1               0
3          1       0.00              2          0               0
4          2  125510.82              1          1               1
...      ...        ...            ...        ...             ...
9995       5       0.00              2          1               0
9996      10   57369.61              1          1               1
9997       7       0.00              1          0               1
9998       3   75075.31              2          1               0
9999       4  130142.79              1          1               0

      EstimatedSalary  Exited
0           101348.88       1
1           112542.58       0
2           113931.57       1
3            93826.63       0
4            79084.10       0
...               ...     ...
9995         96270.64       0
9996        101699.77       0
9997         42085.58       1
9998         92888.52       1
9999         38190.78       0

[10000 rows x 14 columns]
[[-0.56953701 -0.57436296 -1.78451879 ... -1.56299709 -1.03339307
   1.0890591 ]
 [-0.56953701 -0.57436296  1.47401668 ...  0.63979645  0.967686
  -0.4551902 ]
 [-0.56953701 -0.57436296 -0.82854466 ... -1.56299709  0.967686
  -0.65446947]
 ...
 [-0.56953701 -0.57436296  0.89837634 ...  0.63979645 -1.03339307
   1.40745917]
 [-0.56953701  1.74105933 -0.62295883 ...  0.63979645  0.967686
   0.83939459]
 [ 1.75581215 -0.57436296 -0.2837422  ...  0.63979645 -1.03339307
   0.31973777]]
[[ 1.67387076 -0.57268474 -0.55982398 ...  0.65890748  0.97545271
   1.62753708]
 [-0.59741769 -0.57268474 -1.33593594 ...  0.65890748 -1.02516503
   0.51106949]
 [-0.59741769  1.74616143  0.58336795 ...  0.65890748  0.97545271
  -0.4108104 ]
 ...
 [-0.59741769  1.74616143  0.35263197 ... -1.51766376 -1.02516503
   0.36457371]
 [ 1.67387076 -0.57268474 -0.76958397 ... -1.51766376 -1.02516503
   0.44908773]
 [-0.59741769 -0.57268474  0.89800794 ... -1.51766376  0.97545271
   1.61499064]]